<div id="footer-container">
    <footer class="wrapper">
        <div class="grid grid-211">
            <div>
                <a href="/">
            <picture>
                <source
                    srcset="/happyapps/images/logos/happyapps-logo~dark.png"
                    media="(prefers-color-scheme: dark)"
                    >
                <img
                    src="/happyapps/images/logos/happyapps-logo.png"
                    alt="Logo of {{site.title}}"
                    title="{{site.title}}"
                    >
            </picture>
        </a>
                <h2></h2>
                <p></p>
            </div>
            <div class="links">
                <a href="/">
                    <picture>
                        <source
                            srcset="/happyapps/images/footer/toucan-logo.png"
                            media="(prefers-color-scheme: dark)"
                        >
                        <img
                            src="/happyapps/images/footer/toucan-logo.png"
                            alt="Logo of {{site.title}}"
                            title="{{site.title}}"
                        >
                    </picture>
                </a>
                <p><small>This site was generated<br>using <a href="https://swift.org/" target="_blank">Swift</a> &amp; <a href="https://github.com/toucansites/toucan/" target="_blank">Toucan</a>.</small>
                <small>
                Toucan is a markdown-based static site generator writter in Swift.
                Toucan is open source and is free on Github.<br/>
                <a href="https://github.com/toucansites/website/blob/main/LICENSE" target="_blank">MIT License</a></small>
                </p>
                <div class="external">
                    
                </div>
                <div class="contact">
                    <h3></h3>
                    <p>
                    <br>
                    <a href="mailto:">
                        
                    </a>
                    </p>
                </div>
            </div>
        </div>
        

        <div id="copyright"></div>
        
        

    </footer>
</div>
