{{<html}}
{{$main}}

{{& page.contents}}

<section class="hero primary">
    <div class="wrapper">
        <picture>
            <source
                srcset="/happyapps/images/logos/happyapps-logo~dark.png"
                media="(prefers-color-scheme: dark)"
                >
            <img
                src="/happyapps/images/logos/happyapps-logo.png"
                alt="Logo of {{site.title}}"
                title="{{site.title}}"
                >
        </picture>
        <h2>A blog on building human centered products, teams, and AI Engineering.</h2>
    </div>
</section>

<section class="book">
  <div class="wrapper">
      <header>
          <h2>Featured Article</h2>
          <p>Current series describe how to use the Jobs to Done framework at each step to ensure customer centricity but also how to use Gherkins as foundation for alignment across all expertise in an organisation</p>
      </header>

      <div class="grid grid-422">    
          <div class="info">
            <h3>Gherkin Syntax - The Rosetta Stone of Cross-Functional Alignment</h3>
            <p>In 1799, French soldiers discovered a stone tablet in Egypt that changed our understanding of ancient civilizations. The Rosetta Stone contained the same decree written in three different scripts—hieroglyphics, Demotic, and ancient Greek. Because scholars could read Greek, they could finally decode hieroglyphics.Your product team needs a Rosetta Stone.Not to decode ancient languages, but to translate between the four dialects we identified in Part 1 - customer outcomes, product capabilities, engineering logic, and business metrics. You need a syntax that all four groups can read, write, and understand without losing meaning in translation.That syntax already exists. You've probably seen it in your engineering team's test suites. It's called Gherkin.</p>
          </div>
          <div class="centered more-posts">
            <a class="button" href="/blog/posts/page/1">Read Article</a>
        </div>
      </div>
    
  </div>
</section>


<section class="">
    <div class="wrapper">
        {{#empty(site.context.posts)}}
        Empty.
        {{/empty(site.context.posts)}}
        {{^empty(site.context.posts)}}
        <div class="grid grid-221">
            {{#site.context.posts}}
            {{> partials.blog.post}}
            {{/site.context.posts}}
        </div>
        {{/empty(site.context.posts)}}

        <div class="centered more-posts">
            <a class="button" href="/happyapps/blog/posts/page/1">Browse all posts</a>
        </div>
    </div>
</section>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id="></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '');
</script>


{{/main}}
{{/html}}
