{{<html}}
{{$main}}

{{& page.contents}}

<section class="hero primary">
    <div class="wrapper">
        <picture>
            <source
                srcset="/happyapps/images/logos/happyapps-logo~dark.png"
                media="(prefers-color-scheme: dark)"
                >
            <img
                src="/happyapps/images/logos/happyapps-logo.png"
                alt="Logo of {{site.title}}"
                title="{{site.title}}"
                >
        </picture>
        <h2>A blog on on building human and customer centric products and teams and AI Engineering</h2> 
    </div>
</section>


<section class="book">
  <div class="wrapper">
      <header>
          <h2>Featured Article</h2>
          <p>Latest article on the blog discusses the waterfall trap that teams can undergo by wrong usage of vibe coding tools.</p>
      </header>
      <div class="grid grid-422">
          <!--<picture>
            <img alt="Practical Server Side Swift Cover" src="/images/practical-server-side-swift-cover.png"/>
          </picture>-->
          
          <div class="info">
            <h3>The waterfall trap</h3>
            <p>Historically, many organisations operated with a waterfall-like model where product managers or business analysts would create detailed specifications that engineers would implement. Engineering teams would receive “clearer guidance upfront” with regular check-ins to ensure alignment. This approach treats engineers primarily as implementers who translate requirements into code.</p>
          </div>
          <div class="centered more-posts">
            <a class="button" href="/blog/posts/page/1">Read Article</a>
        </div>
      </div>
      
      
    
  </div>
</section>


<section class="">
    <div class="wrapper">
        {{#empty(site.context.posts)}}
        Empty.
        {{/empty(site.context.posts)}}
        {{^empty(site.context.posts)}}
        <div class="grid grid-221">
            {{#site.context.posts}}
            {{> partials.blog.post}}
            {{/site.context.posts}}
        </div>
        {{/empty(site.context.posts)}}

        <div class="centered more-posts">
            <a class="button" href="/happyapps/blog/posts/page/1">Browse all posts</a>
        </div>
    </div>
</section>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FPVBWK1C1S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FPVBWK1C1S');
</script>


{{/main}}
{{/html}}
